---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/* site styles */
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/**** color classes ********* */

.bcl-white {
  color: #ffffff
}

.bcl-green {
  color: #9eb84e
}

.bcl-green-back {
  background-color: #9eb84e
}

.bcl-teal {
  color: #64aab2
}

.bcl-teal-back {
  background-color: #D0E0E3
}

.bcl-orange {
  color: #f3951d
}

.bcl-orange-back {
  background-color: #f3951d
}

.bcl-red {
  color: #cc0000
}

.bcl-red-back {
  background-color: #F4CCCC
}


.bcl-highlight,
.bcls-highlight {
  background-color: #FFFF00;
}


/*buttons*/

button.bcls-button,
.BCL-btn,
.BCLbutton,
span.bcls-button,
.bcls-button {
  padding: 5px;
  margin: 10px !important;
  border-radius: 5px !important;
  background-color: #333333 !important;
  white-space: nowrap;
  font-size: small;
  font-weight: bold;
  color: #FFFFFF !important;
  cursor: pointer;
}

p span.bcls-button {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: #333333;
  white-space: nowrap;
  font-size: small;
  color: #FFFFFF;
  cursor: pointer;
}

input.gsc-search-button.gsc-search-button-v2 {
  background-image: url(http://docs.brightcove.com/en/images/search_box_icon.png) !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #666;
}

h2#expanderHead:before {
  content: '+';
  font-size: .6em;
  width: .7em;
  height: .5em;
  padding-bottom: .2em;
  padding-left: .35em;
  padding-right: .35em;
  padding-top: 0;
  margin-left: -1.5em;
  margin-right: .5em;
  color: #FFF;
  background-color: #DD712E;
  border-radius: 50%;
  text-decoration: none;
}

h2#expanderHead.changed:before {
  content: '-';
  font-size: .7em;
  width: .7em;
  height: .4em;
  padding-bottom: .2em;
  padding-left: .4em;
  padding-right: .4em;
  padding-top: 0;
  margin-left: -1.5em;
  margin-right: .5em;
  color: #FFF;
  background-color: #DD712E;
  border-radius: 50%;
  text-decoration: none;
}



/*show/hide*/

.bcls-show {
  left: 0
}

.bcls-hide {
  left: -9999px
}

.inline {
  display: inline
}

.display-none {
  display: none;
}

.display-block {
  display: block
}

/* .side-nav li>a {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 3px;
  max-width: 150px;
  overflow: hidden;
} */

th.head,
tr.head>th {
  background-color: #666666;
  color: #f5f5f5;
}


/* footer */

.footer .row {
  /* padding-bottom: 1em; */
  align-content: space-evenly;
  width: 100%;
}

.footer, .bcls-footer {
  background-color: #626365;
  bottom: 0;
  color: #ffffff;
  left: 0;
  margin-top: 2em;;
  position: relative;
  text-align: center;
  width: 100%;
}

.footer-menu {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
}

footer i.fab, .footer a, .bcls-footer a {
  color: #ffffff;
}
.field--item {
  font-size: smaller;
}
ul.menu {
  margin-left: -1em;
}

.bcls-copyright, .gf-links-cols {
  display: inline-block;
}
img {
  margin-top: 1em;
  margin-bottom: 1rem;
  border: 1px #cccccc solid;
}
.no-border {
  border: none;
}
figcaption {
  font-size: .7em;
}


@media only screen and (min-width: 64.063em) {
  /* .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
  } */
  table.profile-data th,
  table.profile-data td {
      font-size: .9em !important;
      text-align: center;
  }
  /* content styles */
  .notes>p {
      padding-top: 100px;
      margin-top: -90px;
  }
  .section table {
      margin-top: 40px
  }
  .wide-table th,
  .wide-table td {
      font-size: .75rem
  }
  /***** specific to docs home page ******/
  /**** content wrapper ********* */
  .section {
      clear: both
  }
  .subsection {
      margin-left: 10%;
  }
  /**** show/hide & inline ****/
  .height-zero {
      height: 0;
      max-height: 0;
      margin-left: -9999px;
  }
  .height-auto {
      height: auto;
      max-height: auto;
      margin-left: auto;
  }
  .bcls-show {
      left: 0;
  }
  .bcls-hide {
      left: -9999px;
  }
  .inline {
      display: inline
  }
  .inline-block {
      display: inline-block;
  }
  .display-none {
      display: none;
  }
  .display-block {
      display: block;
  }
  .display-unset {
      display: auto;
  }
  /* for list without bullets */
  .list-none {
      list-style-type: none;
  }
  .list-none li {
      margin-left: -1.5em;
  }
  /**** general element styles and classes *********= */
  img {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 1px #cccccc solid;
  }
  .no-border {
      border: none;
  }
  figcaption {
      font-size: .7em;
  }
  video,
  object,
  div.video-js {
      margin-bottom: 1rem
  }
  ol.integer {
      list-style-type: none;
      counter-reset: li;
  }
  ol.integer>li::before {
      content: counter(li);
      counter-increment: li;
      margin-right: .7em;
      font-weight: bold;
  }
  pre,
  code,
  .code-area {
      font-family: Hack, source-code-pro, Menlo, monospace
  }
  pre {
      background-color: #F1EFEE;
      font-size: .8em;
      margin-bottom: 1.3rem;
      padding: .5rem;
      padding-left: 1rem;
      margin-top: 1rem;
      border-left: 5px solid rgb(99, 99, 99);
      -webkit-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
      -moz-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
      box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
  }
  code {
      color: #AF4020;
      background-color: #F1EFEE;
      font-weight: bold;
      border: none;
  }
  pre>code {
      font-weight: normal;
  }
  .BCL-aside code {
      background-color: #DFDFDF
  }
  a code {
      text-decoration: underline;
      font-weight: bold;
  }
  dd {
      margin-left: 2rem
  }
  .code-area {
      /*border: #666666 1px solid;*/
      background-color: #F5F5F5;
      border-radius: 5px;
      font-size: .9rem;
      margin-bottom: 1rem;
      padding: 5px;
      width: 100%;
      min-width: 20rem;
  }
  fieldset {
      border-radius: 5px;
      border: 1px {{ site.color }} solid;
  }
  select[multiple] {
      min-height: 200px
  }
  table {
      /* max-width: 90%; */
      font-size: .875rem;
  }
  td,
  td ul li,
  td ol li,
  td p {
      font-size: .875rem
  }
  caption {
      font-weight: bold;
      text-align: left;
  }
  th.once-green-back {
      text-align: center
  }
  td.subhead {
      background-color: rgb(230, 235, 235)
  }
  a:hover {
      text-decoration: underline
  }
  /* FAQ Styles */
  .bcls-question {
      color: #2346b7;
      cursor: pointer;
      font-size: 1em;
  }
  .bcls-question:hover {
      text-decoration: underline;
  }
  .bcls-answer {
      display: none;
  }
  /**** bcl doc styles **********= */
  .smaller {
      font-size: .7em
  }
  .text-warning,
  .alert-warning,
  .BCL-aside,
  .BCL_aside {
      background-color: #F1EFEE;
      border-radius: .5em;
      padding-top: .5em;
      padding-bottom: .5em;
      padding-left: 1em;
      padding-right: 1em;
  }
  .text-info {
      padding: 5px;
      border: 1px #3A87AD solid;
      border-radius: 5px;
  }
  .text-error {
      padding: 5px;
      border: 1px #BB4945 solid;
      border-radius: 5px;
  }
  .bcls-float-left {
      float: left;
      clear: left !important;
  }
  .bcls-float-right {
      float: right
  }
  .bcl-left {
      text-align: left
  }
  .bcl-right {
      text-align: right
  }
  .bcl-center {
      text-align: center
  }
  /**
   * iframe for spapi samples
   */
  .bcls-iframe {
      background-color: #F5F5F5;
      width: 100%;
      border: 1px #999 solid;
      border-radius: 10px;
      margin: 0;
      padding: 10px;
  }
  /*for codepens embedded as iframes*/
  #result-iframe {
      border: 1px solid #CCCCCC;
  }

  #expanderHead {
      text-decoration: underline;
      cursor: pointer;
  }
  #expanderSign {
      color: #333333;
      text-decoration: none;
  }
  .gist .line-data {
      line-height: 1.4
  }
}


/* Jekyll layout styles */
.div-header {
  background-color: {{ site.color }};
  clear: both;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  /* padding: .4rem; */
}

.product-logo {
  border: none;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.secondary-nav {
  text-align; center;
  margin-left: 40%;
  font-size: smaller;
}

.bcls-active {
  color: white;
  background-color: #333;
}

.image-header {
  width: 100%;
}

.image-logo {
  float: left;
  border: none;
  margin-left: 1em;
}

.sidenav {
  overflow-y: scroll;
  font-size: smaller;
}

.sidenav h5 {
  font-size: .9rem;
  padding: 2px;
}

.sidenav h5.submenu-header {
color: rgb(14, 129, 255)}

.sidenav h5.submenu-header::after {
  content: ' +';
  font-weight: bold;
  color: rgb(14, 129, 255);
}

.sidenav ul {
  list-style: none;
}
.sidenav ul li {
  margin-left: -1.5em;
  font-size: .9rem;
  padding-left: 2px;
}

.gf-links-cols {
  color: #f5f5f5;
  text-align: right;
  font-size: 2rem;
  margin-right: 40%;
}

.fab {
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

h5.landing-page-item-header {
  font-size: 1rem;
}

.landing-page-item li {
  font-size: .9rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: relative;
}

h1 {
  color: {{ site.color }};
}

header {
  min-width: 100%;
}

footer {
  margin-top: 2em;
  background-color: #515151;
  bottom: 0;
  color: #f5f5f5;
  font-size: smaller;
  padding: 1em;
  padding-left: 4em;
  position: relative;
  min-width: 100%;
}

footer h2 {
  font-size: 1.5rem;
  text-align: left;
}

footer a {
  color: #f5f5f5;
}

footer nav, div.bcls-copyright {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 2em;
}

footer nav li {
  display: block;
  margin-left: -2.5em;
}
